
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.debug {border: solid 1px red;}

.acao {cursor: pointer;}

.acao i {
  color: black;
  font-size: 24px;
}

.voffset {margin-top: 10px;}
.voffsetb {margin-bottom: 10px;}
.voffsetb2 {margin-bottom: 15px;}
.hoffset {margin-left: 10px;}
.hoffset2 {margin-left: 15px;}

h3.box-title {vertical-align: middle;}

.form-destroy {display: inline;}

.select2-selection__choice {
  background-color: #f39c12 !important;
  border-color: #e08e0b !important;
}

.select2-selection__choice__remove {
  color: white !important;
}

.no-padding {padding: 0 !important;}
.no-margin {margin: 0 !important;}

.bg-bozena {background-color: #f39c12;}

.match {font-size: 18px;}
.score {font-weight: bold;}
.match-state {color: gray;}
.match-state-now {color: green;}