
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.acao {cursor: pointer;}

.acao i {
  color: black;
  font-size: 24px;
}

.voffset {margin-top: 10px;}
.hoffset {margin-left: 10px;}
.hoffset2 {margin-left: 15px;}

h3.box-title {vertical-align: middle;}

.form-destroy {display: inline;}

.select2-selection__choice {
  background-color: #f39c12 !important;
  border-color: #e08e0b !important;
}

.select2-selection__choice__remove {
  color: white !important;
}